#footerMain {
    display: flex;
    flex-direction: row;
    background-color: var(--blue);
    align-items: flex-start;
    position: fixed;
    bottom: 0px;
    height: 20%;
    
}

#footerMain section {
    width: 25%;
    display: flex;
    flex-direction: column;  
}

#footerMain h4 {
    text-align: center;
    padding: 1em 0em 0.5em 0em;
    color: var(--paleBlue);
}
#footerMain ul {
    list-style: none;
    text-align: center;
    padding-left: 0px;
    color: var(--paleBlue);
}

#footerMain li {
    padding-left: 0px;
}